name: ZMK Build
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip git ninja-build gperf ccache dfu-util device-tree-compiler wget curl xz-utils file
          pip3 install --user west
      - name: Init west
        run: |
          west init -l app
          west update
          west zephyr-export
      - name: Build left half
        run: west build -s app -d build/left -b nice_nano_v2
      - name: Build right half
        run: west build -s app -d build/right -b nice_nano_v2
      - name: Upload UF2 files
        uses: actions/upload-artifact@v3
        with:
          name: googootkah-uf2
          path: |
            build/left/zmk.uf2
            build/right/zmk.uf2